In [1]:
import pandas
atletas_2016 = pandas.read_csv("datasets/2016_atletas.csv")
clubes_2016 = pandas.read_csv("datasets/2016_clubes.csv")
scout_2016 = pandas.read_csv("datasets/2016_scouts.csv")

In [2]:
print(scout_2016.columns)

Index(['atleta_id', 'rodada', 'clube_id', 'participou', 'pontos_num',
       'media_num', 'preco_num', 'variacao_num', 'FS', 'PE', 'A', 'FT', 'FD',
       'FF', 'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP',
       'GS'],
      dtype='object')

In [3]:
print(atletas_2016.columns)

Index(['id', 'apelido', 'clube_id', 'posicao_id'], dtype='object')

In [4]:
scouts = scout_2016[['atleta_id','clube_id', 'rodada','pontos_num', 'preco_num']]

In [5]:
soma_pontos = scouts.groupby(['atleta_id']).pontos_num.sum()

In [6]:
soma_pontos.sort_values(ascending=False)[:10]

atleta_id
68952    211.0
62121    189.3
87863    183.7
88065    176.7
87552    171.8
86485    169.4
68911    167.0
87999    164.3
50284    164.2
71892    157.9
Name: pontos_num, dtype: float64

In [7]:
soma_pontos.sort_values()[:10]

atleta_id
86754   -8.8
84847   -7.9
71724   -7.6
86527   -6.8
37917   -6.5
82613   -6.2
37788   -5.9
78151   -5.4
82403   -4.6
71719   -4.2
Name: pontos_num, dtype: float64

In [8]:
soma = pandas.DataFrame(pandas.Series(soma_pontos))

In [9]:
soma.head()

           pontos_num
atleta_id
36540            32.3
36591             0.0
36612            81.4
36650            48.3
36856            32.0

In [10]:
atletas = atletas_2016[['id', 'apelido']]

In [11]:
atletas.head()

      id       apelido
0  89258        Daniel
1  68873  Paulo Victor
2  79066  Alex Muralha
3  91194        Thiago
4  38109     Jefferson

In [12]:
result_top_10 = pandas.DataFrame(columns =  ["Nome","Time", "Soma"])

In [13]:
def atleta_completo(id):
    for row in atletas_2016.iterrows():
        ide=row[1]['id']
        if ide == id:
            nome = row[1]['apelido']
            clube_ide = row[1]['clube_id']
            for row_clube in clubes_2016.iterrows():
                if clube_ide == row_clube[1]['id']:
                    clube_nome = row_clube[1]['nome']
    return[nome, clube_nome]

In [14]:
for row in atletas.iterrows():
    ide=row[1]['id']
    for row_soma in soma_pontos.iteritems():
        soma = row_soma[1]
        if ide == row_soma[0]:
            atleta = atleta_completo(ide)
            nome_atleta = atleta[0]
            clube_atleta = atleta[1]
            list1 = [nome_atleta,clube_atleta, soma] 
            result_top_10.loc[len(result_top_10)] = list1

In [15]:
result_top_10.sort_values(by='Soma',ascending=False)[:10]

                 Nome        Time   Soma
856           Marinho     Vitória  211.0
29          Vanderlei      Santos  189.3
523        Arrascaeta    Cruzeiro  183.7
99              Jorge    Flamengo  176.7
483       Vitor Bueno      Santos  171.8
951              Keno  Santa Cruz  169.4
590       Diego Souza       Sport  167.0
441    Gustavo Scarpa  Fluminense  164.3
72             Wilson    Coritiba  164.2
120  Wellington Silva  Fluminense  157.9